html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff5f5;
  overflow-x: hidden;
}

.navbar {
  background-color: #f5e8c7;
  font-family: "Nunito";
  position: fixed;
  z-index: 99;
  width: 100%;
}

.item {
  margin-left: auto;
  font-family: "Nunito";
  font-size: 16px;
}

.text-1 {
  margin: auto;
  margin-top: 10px;
}

.icon-promo {
  display: flex;
}

.fire {
  margin-left: 300px;
}

p.promo {
  padding-top: 2px;
  font-family: "Nunito";
  font-size: 18px;
}

a.promo {
  font-family: "Nunito";
  font-size: 14px;
}

.deals-1 {
  margin-left: 20%;
}

.icon-stew {
  width: 132px;
  height: 131px;
  margin-left: 18%;
  filter: drop-shadow(0px 38px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 13.8706px 29.2013px rgba(0, 0, 0, 0.0482987))
    drop-shadow(0px 6.73393px 14.1767px rgba(0, 0, 0, 0.0389404))
    drop-shadow(0px 3.3011px 6.94968px rgba(0, 0, 0, 0.0310596))
    drop-shadow(0px 1.30526px 2.74791px rgba(0, 0, 0, 0.0217013));
}

.keterangan-meatball {
  margin-left: 20px;
  margin-top: 26px;
  font-family: "Nunito";
  font-size: 20px;
}

img {
  -webkit-transition: -webkit-transform 1s;
}

img:hover {
  -webkit-transform: rotate(360deg) translateZ(0);
}

.icon {
  width: 130px;
  height: 130px;
  margin-left: 18%;
  filter: drop-shadow(0px 33px 80px rgba(34, 34, 34, 0.06))
    drop-shadow(0px 13.7866px 33.4221px rgba(34, 34, 34, 0.0431313))
    drop-shadow(0px 7.37098px 17.869px rgba(34, 34, 34, 0.0357664))
    drop-shadow(0px 4.13211px 10.0172px rgba(34, 34, 34, 0.03))
    drop-shadow(0px 2.19453px 5.32008px rgba(34, 34, 34, 0.0242336))
    drop-shadow(0px 0.913195px 2.21381px rgba(34, 34, 34, 0.0168687));
}

.icon-salad {
  width: 120px;
  height: 120px;
  margin-left: 18%;
  filter: drop-shadow(0px 80px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 33.4221px 33.4221px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 17.869px 17.869px rgba(0, 0, 0, 0.0417275))
    drop-shadow(0px 10.0172px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 5.32008px 5.32008px rgba(0, 0, 0, 0.0282725))
    drop-shadow(0px 2.21381px 2.21381px rgba(0, 0, 0, 0.0196802));
}

.keterangan-salad {
  margin-left: 20px;
  font-family: "Nunito";
  font-size: 20px;
  margin-top: 32px;
}

.icon-chicken {
  width: 120px;
  height: 125px;
  margin-left: 20%;
  filter: drop-shadow(0px 33px 80px rgba(34, 34, 34, 0.06))
    drop-shadow(0px 13.7866px 33.4221px rgba(34, 34, 34, 0.0431313))
    drop-shadow(0px 7.37098px 17.869px rgba(34, 34, 34, 0.0357664))
    drop-shadow(0px 4.13211px 10.0172px rgba(34, 34, 34, 0.03))
    drop-shadow(0px 2.19453px 5.32008px rgba(34, 34, 34, 0.0242336))
    drop-shadow(0px 0.913195px 2.21381px rgba(34, 34, 34, 0.0168687));
}

.keterangan-chicken {
  margin-left: 20px;
  font-family: "Nunito";
  font-size: 20px;
  margin-top: 34px;
}

.icon-friedrice {
  width: 120px;
  height: 117px;
  margin-left: 18%;
  filter: drop-shadow(0px 62px 80px rgba(34, 34, 34, 0.1))
    drop-shadow(0px 22.631px 29.2013px rgba(34, 34, 34, 0.0689982))
    drop-shadow(0px 10.9869px 14.1767px rgba(34, 34, 34, 0.0556291))
    drop-shadow(0px 5.386px 6.94968px rgba(34, 34, 34, 0.0443709))
    drop-shadow(0px 2.12963px 2.74791px rgba(34, 34, 34, 0.0310018));
}

.keterangan-friedrice {
  margin-left: 20px;
  font-family: "Nunito";
  font-size: 20px;
  margin-top: 33px;
}

.icon-omellet {
  width: 140px;
  height: 120px;
  margin-left: 16%;
  margin-top: 20px;
  filter: drop-shadow(0px 72px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 26.2812px 29.2013px rgba(0, 0, 0, 0.0482987))
    drop-shadow(0px 12.759px 14.1767px rgba(0, 0, 0, 0.0389404))
    drop-shadow(0px 6.25471px 6.94968px rgba(0, 0, 0, 0.0310596))
    drop-shadow(0px 2.47312px 2.74791px rgba(0, 0, 0, 0.0217013));
}

.keterangan-omellet {
  margin-left: 20px;
  font-family: "Nunito";
  font-size: 20px;
  margin-top: 29px;
}

.icon-tomyam {
  width: 140px;
  height: 130px;
  margin-left: 15%;
  filter: drop-shadow(0px 62px 80px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 18.6912px 24.1177px rgba(0, 0, 0, 0.0456112))
    drop-shadow(0px 7.76336px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 2.80786px 3.62304px rgba(0, 0, 0, 0.0243888));
}

.keterangan-tomyam {
  margin-left: 20px;
  font-family: "Nunito";
  font-size: 20px;
  margin-top: 28px;
}

.kotak {
  margin-left: 16%;
}

.menu-noodle {
  width: 200px;
  height: 330px;
  background-color: #ffffff;
  margin-bottom: 10%;
  border-radius: 20px;
  font-family: "Nunito";
  box-shadow: 0px 67px 80px rgba(0, 0, 0, 0.07),
    0px 24.4561px 29.2013px rgba(0, 0, 0, 0.0482987),
    0px 11.873px 14.1767px rgba(0, 0, 0, 0.0389404),
    0px 5.82036px 6.94968px rgba(0, 0, 0, 0.0310596),
    0px 2.30138px 2.74791px rgba(0, 0, 0, 0.0217013);
}

.menu-noodle-1 {
  width: 200px;
  height: 330px;
  background-color: #ffffff;
  margin-bottom: 10%;
  border-radius: 20px;
  font-family: "Nunito";
}

.menu-noodle-2 {
  width: 200px;
  height: 330px;
  background-color: #ffffff;
  margin-bottom: 10%;
  border-radius: 20px;
  font-family: "Nunito";
}

.keterangan {
  margin-left: 20px;
  font-family: "Nunito";
  font-size: 20px;
}

p.deskripsi {
  font-size: 13px;
  font-family: "Nunito";
  margin-left: 20px;
  font-style: italic;
}

.harga {
  margin-left: 20px;
  float: left;
  font-size: 20px;
}

.harga-1 {
  font-size: 20px;
  margin-top: 3px;
  margin-left: 20px;
}

.beli {
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f5e8c7;
  border-radius: 8px;
  margin-left: 20px;
  margin-bottom: 50px;
  color: #222222;
  font-family: "Nunito";
}

.beli:hover {
  background-color: #cda788;
  color: #ffffff;
}

@media screen and (max-width: 576px) {
  .navbar-brand {
    margin-left: 0px;
  }

  .item {
    margin-left: 0px;
  }

  .kotak {
    margin-left: 26px;
    align-content: center;
  }

  .kotak-1 {
    margin-left: 60px;
  }

  .kotak-2 {
    margin-left: 26px;
  }

  .fire {
    margin-left: 90px;
  }

  p.promo {
    font-family: "Nunito";
    margin-top: 2px;
    padding-right: 10px;
  }

  .deals-1 {
    margin-left: 10px;
  }

  a.promo {
    font-family: "Nunito";
    font-size: 14px;
  }
}
